.section-title-fade {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 0;
}

.section-title-fade h1 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  font-family: 'Cinzel', serif;
}

.line-fade {
  flex: 1;
  height: 5px;
  background: linear-gradient(to right, transparent, #333, transparent);
  opacity: 0.7;
}

.header-flag {
  height: auto;
  flex-shrink: 0;
  padding: 2em;
}

.visited {
  text-align: center;
  color: #121b01;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-family: 'Great Vibes', cursive;
}

.visited-grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-template-rows: 1 1fr;
  gap: 4rem;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  flex-wrap: wrap;
}

/* Style for places visited */
.visited-grid li {
  font-size: 1.4rem;
  color: #121b01;
  font-weight: bold;
  font-family: 'Great Vibes', cursive;
}

/* style for pin-drop */
.pin-drop-icon {
  width: 50px;
  height: 50px;
  margin-right: -0.1rem;
  vertical-align: middle;
}

.text-page {
  background-color: rgba(255, 255, 255, 0.2);
  background-image: url(../images/paperboard-texture.jpg);
  background-blend-mode: lighten;
  background-size: cover;
  background-repeat: no-repeat;
  border: 5px solid #c9a472;
  border-radius: 15px;
  padding: 1rem 2rem 1rem 2rem;
  margin: 2rem auto;
  max-width: 1200px;
  width: 100%;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);  /* glassy effect- keep? */
}

/* paragraph styling */
.text-page p {
  margin: 1.5rem 0;
  font-size: 1.1rem;
  line-height: 2;
}

.cork-board {
  position: relative;
  margin: 2rem auto;
  max-width: 1200px;
  min-height: 600px;
  background: url('../images/cork-board.jpg') center/cover no-repeat;
  padding: 2rem;
  border-radius: 8px;
}

.photo {
  position: absolute;
  width: 300px;
  padding: 0.5rem;
  background: #ffffff;
  border: 6px solid #ffffff;
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  transition: transform 0.3s ease;
}

.photo1 {
  top: -6%;
  right: -5%;
  transform: rotate(3deg);
  width: 300px;
}

.photo2 {
  top: -4%;
  left: -6%;
  transform: rotate(4deg);
  width: 380px;
}

.photo3 {
  bottom: -10%;
  left: -18%;
  transform: rotate(-5deg);
  width: 500px;
}

.photo4 {
  bottom: -5%;
  right: -9%;
  transform:
    /*translateX(-50%)*/
    rotate(-4deg);
  width: 360px;
}

.photo5 {
  bottom: 30px;
  left: 35%;
  transform: translateX(-50%) rotate(6deg);
  width: 290px;
}

.photo6 {
  bottom: -10%;
  left: 60%;
  transform: translateX(-50%) rotate(0deg);
  width: 340px;
}

.photo7 {
  top: 20px;
  left: 40%;
  transform: translateX(-50%) rotate(6deg);
  width: 320px;
}

/*.photo8 {
  bottom: 40px;
  right: 10px;
  transform: rotate(0deg);
  width: 320px;
}*/

.photo img,
.photo video {
  object-fit: cover;
  display: block;
  margin-bottom: 0.5rem;
  width: 100%;
  border: 6px solid rgb(109, 98, 98);
}

.photo1 img {
  height: 240px;
  width: 100%;
  object-fit: cover;
}

.photo2 img {
  height: 290px;
  width: 100%;
  object-fit: cover;
}

.photo3 img {
  height: 220px;
  width: 100%;
  object-fit: cover;
}

.photo4 img {
  height: 240px;
  width: 100%;
  object-fit: cover;
}

.photo5 img {
  height: 220px;
  width: 100%;
  object-fit: cover;
}

.photo6 img {
  height: 440px;
  width: 100%;
  object-fit: cover;
}

.photo7 img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

/*.photo8 img {
  height: 320px;
  width: 100%;
  object-fit: cover;
}*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

.photo figcaption {
  font-size: 0.95rem;
  font-style: italic;
  color: #333;
}

.photo::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  background: url('../images/pushpin1.png') no-repeat center;
  background-size: contain;
  z-index: 2;
}