.section-title-fade h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 0;
  font-size: 4rem;
  color: #121b01;
  font-weight: bold;
  text-align: center;
  transform: none;
}

.header-flag {
  height: auto;
  flex-shrink: 0;
  padding: 2em;
}

.visited-heading {
  line-height: 1;
  margin: 0;
  font-family: 'Great Vibes', cursive;
  color: #121b01;
  font-size: 2rem;
  text-align: center;
}

.visited {
  text-align: center;
  color: #121b01;
  margin-top: 0.25rem;
  margin-bottom: 4rem;
  font-family: 'Great Vibes', cursive;
}

.visited-grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  flex-wrap: wrap;
}

/* Style for places visited */
.visited-grid li {
  font-size: 1.4rem;
  color: #121b01;
  font-weight: bold;
  font-family: 'Great Vibes', cursive;
}

/* style for pin-drop */
.pin-drop-icon {
  width: 50px;
  height: 50px;
  margin-right: -0.1rem;
  vertical-align: middle;
}

.divider-line {
  width: 100%;
  height: 5px;
  background: linear-gradient(to right, transparent, #333, transparent);
  opacity: 0.7;
  margin: 2.5rem auto;
  border-radius: 1rem;
}


.cork-board {
  position: relative;
  overflow: visible;
  margin: 5rem auto;
  max-width: 1200px;
  min-height: 600px;
  background: url('../images/cork-board.jpg') center/cover no-repeat;
  padding: 2rem;
  border-radius: 8px;
}

.photo {
  position: absolute;
  overflow: visible;
  width: 300px;
  padding: 0.5rem;
  background: #ffffff;
  border: 6px solid #ffffff;
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  transition: transform 0.3s ease;
}

.photo1 {
  top: 10px;
  right: -3%;
  transform: rotate(-3deg);
  width: 280px;
}

.photo2 {
  top: 0px;
  left: -20px;
  transform: rotate(2deg);
  width: 380px;
}

.photo3 {
  bottom: -20px;
  left: -1%;
  transform: rotate(-5deg);
  width: 280px;
}

.photo4 {
  bottom: -10px;
  right: -5%;
  transform:
    /*translateX(-50%)*/
    rotate(-1deg);
  width: 300px;
}

.photo5 {
  bottom: 30px;
  left: 35%;
  transform: translateX(-50%) rotate(6deg);
  width: 290px;
}

.photo6 {
  top: 40px;
  left: 60%;
  transform: translateX(-50%) rotate(1deg);
  width: 320px;
}

.photo7 {
  top: 20px;
  left: 38%;
  transform: translateX(-50%) rotate(4deg);
  width: 280px;
}

/*.photo8 {
  bottom: 40px;
  right: 10px;
  transform: rotate(0deg);
  width: 320px;
}*/

.photo img,
.photo video {
  object-fit: cover;
  display: block;
  margin-bottom: 0.5rem;
  width: 100%;
  border: 6px solid rgb(109, 98, 98);
  box-sizing: border-box;
}

.photo1 img {
  height: 240px;
  width: 100%;
  object-fit: cover;
}

.photo2 img {
  height: 240px;
  width: 100%;
  object-fit: cover;
}

.photo3 img {
  height: 280px;
  width: 100%;
  object-fit: cover;
}

.photo4 video {
  height: 240px;
  width: 100%;
  object-fit: cover;
  /*aspect-ratio: 16/9;*/
}

.photo5 img {
  height: 220px;
  width: 100%;
  object-fit: cover;
}

.photo6 img {
  height: 540px;
  width: 100%;
  object-fit: cover;
}

.photo7 img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

/*.photo8 img {
  height: 320px;
  width: 100%;
  object-fit: cover;
}*/

.photo figcaption {
  font-size: 0.95rem;
  font-style: italic;
  color: #333;
}

.photo::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  background: url('../images/pushpin1.png') no-repeat center;
  background-size: contain;
  z-index: 2;
}

@media (max-width: 768px) {
  .photo {
    position: static;
    margin: 1rem auto;
    transform: none !important;
  }
}

@media (max-width: 600px) {
  .visited-grid {
    justify-content: center;
    gap: 2rem;
    /*padding: 2rem 1rem;
    background-size: cover;*/
  }
}

@media (max-width: 400px) {
  .visited-grid {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }
}