.header-flag {
  height: auto;
  max-height: 64px;
  flex-shrink: 0;
  padding: 0 1rem;
  align-self: center;
}

.ribbon-container {
  background: linear-gradient(to left,
      #1c4885, transparent 60%),
    linear-gradient(to right,
      #1c4885, transparent 60%);
}

.cork-board {
  position: relative;
  margin: 5rem auto;
  margin-top: 8rem;
  margin-bottom: 8rem;
  max-width: 1200px;
  min-height: 1200px;
  background: url('../images/graphics/cork-board.jpg') center/cover no-repeat;
  padding: 2rem;
  border-radius: 8px;
}

.photo {
  position: absolute;
  max-width: 100%;
  width: 25vw;
  /*width: 300px;*/
  padding: 0.5rem;
  background: #ffffff;
  border: 6px solid #ffffff;
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  transition: transform 0.3s ease;
}

.photo1 {
  top: -5%;
  right: -12%;
  transform: rotate(3deg);
  /*width: 400px;*/
  width: 15vw;
}

.photo2 {
  top: -5%;
  left: -10%;
  transform: rotate(2deg);
  /*width: 320px;*/
  width: 16vw;
}

.photo3 {
  bottom: -9%;
  right: 15%;
  transform:
    /*translateX(-50%)*/
    rotate(-2deg);
  width: 420px;
  /*width: 18vw;*/
}

.photo4 {
  bottom: -8%;
  left: -18%;
  transform: rotate(4deg);
  /*width: 300px;*/
  width: 16vw;
}

.photo5 {
  top: -5%;
  left: 36%;
  transform: translateX(-50%) rotate(-1deg);
  /*width: 400px;*/
  width: 16vw;
}

.photo6 {
  bottom: -12%;
  right: -5%;
  transform: rotate(-3deg);
  /*width: 340px;*/
  width: 10vw;
}

.photo7 {
  top: 48%;
  right: -10%;
  transform:
    /*translateX(-50%)*/
    rotate(2deg);
  /*width: 320px;*/
  width: 15vw;
}

.photo8 {
  top: 22%;
  right: -14%;
  transform: rotate(-1deg);
  /*width: 380px;*/
  width: 15vw;
}

.photo9 {
  bottom: 42%;
  left: 52%;
  transform: rotate(0deg);
  /*width: 380px;*/
  width: 14vw;
}

.photo10 {
  top: 35%;
  left: 7%;
  transform: rotate(1deg);
  /*width: 980px;*/
  width: 26vw;
}

.photo11 {
  top: 16%;
  left: -5%;
  transform: translateX(-50%) rotate(0deg);
  /*width: 400px;*/
  width: 12vw;
}

.photo12 {
  top: 16%;
  left: 6%;
  transform: rotate (10deg);
  /*width: 980px;*/
  width: 15vw;
}

.photo13 {
  top: -8%;
  right: 6%;
  transform: translateX(-50%) rotate(-4deg);
  /*width: 400px;*/
  width: 12vw;
}

.photo14 {
  top: 13%;
  right: 14%;
  transform:
    /*translateX(-50%)*/
    rotate(3deg);
  /*width: 400px;*/
  width: 12vw;
}

.photo15 {
  bottom: 12%;
  left: 11%;
  transform: rotate(-3deg);
  width: 220px;
  /*width: 12vw;*/
}

.photo16 {
  bottom: 13%;
  left: -18%;
  transform: rotate(-2deg);
  /*width: 380px;*/
  width: 16vw;
}

.photo17 {
  bottom: 26%;
  left: 46%;
  transform: rotate(-1deg);
  /*width: 380px;*/
  width: 18vw;
}

.photo18 {
  bottom: 10%;
  right: 15%;
  transform: rotate(1deg);
  /*width: 380px;*/
  width: 20vw;
}

.photo19 {
  bottom: 12%;
  left: 30%;
  transform:
    /*translateX(-50%)*/
    rotate(2deg);
  /*width: 370px;*/
  width: 9vw;
}

.photo20 {
  bottom: -10%;
  left: 15%;
  transform:
    /*translateX(-50%)*/
    rotate(-4deg);
  /*width: 370px;*/
  width: 14vw;
}

.photo21 {
  bottom: 30%;
  left: -8%;
  transform: rotate(3deg);
  /*width: 400px;*/
  width: 10vw;
}

.photo22 {
  top: 16%;
  left: 35%;
  transform: rotate(3deg);
  /*width: 400px;*/
  width: 12vw;
}

.photo img,
.photo video {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  /*margin-bottom: 0.5rem;*/
  border: 6px solid rgb(109, 98, 98);
}

.photo1 img {
  height: auto;
  /*height: 300px;*/
  width: 100%;
  object-fit: cover;
}

.photo2 img {
  height: auto;
  /*height: 290px;*/
  width: 100%;
  object-fit: cover;
}

.photo3 img {
  /*height: auto;*/
  height: 180px;
  width: 100%;
  object-fit: cover;
}

.photo4 img {
  height: auto;
  /*height: 300px;*/
  width: 100%;
  object-fit: cover;
}

.photo5 img {
  height: auto;
  /*height: 320px;*/
  width: 100%;
  object-fit: cover;
}

.photo6 img {
  height: auto;
  /*height: 400px;*/
  width: 100%;
  object-fit: cover;
}

.photo7 img {
  height: auto;
  /*height: 240px;*/
  width: 100%;
  object-fit: cover;
}

.photo8 img {
  height: auto;
  /*height: 380px;*/
  width: 100%;
  object-fit: cover;
}

.photo9 img {
  height: auto;
  /*height: 240px;*/
  width: 100%;
  object-fit: cover;
}

.photo10 img {
  height: auto;
  /*height: 200px;*/
  width: 100%;
  object-fit: cover;
}

.photo11 img {
  height: auto;
  /*height: 320px;*/
  width: 100%;
  object-fit: cover;
}

.photo12 img {
  /*height: auto;*/
  height: 180px;
  width: 100%;
  object-fit: cover;
}

.photo13 img {
  height: auto;
  /*height: 320px;*/
  width: 100%;
  object-fit: cover;
}

.photo14 img {
  height: auto;
  /*height: 300px;*/
  width: 100%;
  object-fit: cover;
}

.photo15 img {
  /*height: auto;*/
  height: 320px;
  width: 100%;
  object-fit: cover;
}

.photo16 img {
  height: auto;
  /*height: 160px;*/
  width: 100%;
  object-fit: cover;
}

.photo17 img {
  /*height: auto;*/
  height: 160px;
  width: 100%;
  object-fit: cover;
}

.photo18 img {
  /*height: auto;*/
  height: 160px;
  width: 100%;
  object-fit: cover;
}

.photo19 img {
  height: auto;
  /*height: 200px;*/
  width: 100%;
  object-fit: cover;
}

.photo20 img {
  height: auto;
  /*height: 200px;*/
  width: 100%;
  object-fit: cover;
}

.photo21 img {
  height: auto;
  /*height: 320px;*/
  width: 100%;
  object-fit: cover;
}

.photo22 img {
  height: auto;
  /*height: 320px;*/
  width: 100%;
  object-fit: cover;
}

.photo figcaption {
  font-size: 0.95rem;
  font-style: italic;
  color: #333;
}

.photo::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  background: url('/images/graphics/pushpin1.png') no-repeat center;
  background-size: contain;
  z-index: 2;
}